/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.post-type-life_stage #pageparentdiv{
display: none;
}

.life-stage-wrap .life-stage-list-child .title,
.life-stage-wrap .life-stage-list-parent .title{
  position: relative;
}

.life-stage-wrap .wp-list-table.life_stages .dashicons-editor-break{
  color: #888;
  float: left;
  margin-right: 10px;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.life-stage-wrap .wp-list-table.life_stages .dashicons-menu{
  color: #888;
  float: left;
  margin-right: 5px;
  cursor: move;
}

.life-stage-wrap .row-title {
  display: block;
}



.life-stage-wrap #life-stages.publish .life-stage-list-parent > td > .row-actions {
  padding-left: 26px;
}

.life-stage-wrap .life-stage-list-child > .row-actions{
  margin-left: 55px;
}

.life-stage-wrap tr:hover > td > .row-actions{
  position: relative;
}

.life-stage-wrap tr:hover > td > ul > .life-stage-list-child > .row-actions{
  position: relative;
}

.life-stage-wrap .row-title:hover + .row-actions,
.life-stage-wrap .life-stage-list-child:hover .row-actions,
.life-stage-wrap .row-actions:hover {
  position: static !important;
}

.life-stage-wrap .wp-list-table.life_stages .empty-container{
  min-height: 50px;
  border: 4px dashed #b4b9be;
  display: block;
}
