/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    width: calc(100% - 10px);
    cursor: text;
    font-size: 12px;
    font-family: Arial;
    z-index: 999;
    margin: 0;
    padding: 5px 5px 0 5px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
}

ul.token-input-list li {
    list-style-type: none;
    float: left;
    line-height: 17px !important;
    font-size: 12px !important;
    font-family: Arial;
    margin: 0 5px 5px 0 !important;
    padding: 0 5px !important;
    box-shadow:none !important;
    border-radius: 3px !important;
}

ul.token-input-list li input {
    border: 0;
    width: 100%;
    padding: 0;
    background-color: white;
    -webkit-appearance: caret;
    box-shadow: none !important;
    border: none !important;
    line-height: 17px !important;
    font-size: 12px !important;
    font-family: Arial;
    margin: 2px 0 0 0;
}

li.token-input-token {
    overflow: hidden;
    height: auto !important;
    height: 1%;
    min-width: calc(33.3333333333% - 20px);
    margin-right: 5px !important;
    padding: 3px 5px;
    color: #000;
    font-weight: normal;
    cursor: default;
    display: block;
}

ul.token-input-list li.token-input-input-token {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

li.token-input-token div {
    float: left;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    color: #0073aa;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    line-height: 17px;
    float: right;
    margin: 0 0 0 5px;
    padding: 0;
    cursor: pointer;
}

li.token-input-selected-token {

}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Arial;
    z-index: 1;
    overflow-y: auto;
    max-height: 200px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 5px 0;
    border-bottom: 0 !important;
}

div.token-input-dropdown ul li {
    background-color: #fff !important;
    border: none !important;
    padding: 5px !important;
    width: 100%;
    font-size: 13px !important;
    line-height: 19px !important;
    list-style-type: none;
    border-radius: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    box-shadow: none !important;
}

div.token-input-dropdown ul li:hover {
  color: white !important;
  text-decoration: none;
  background: #00a0d2 !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
}

/*div.token-input-dropdown ul li.token-input-dropdown-item {*/
/*    background-color: #fafafa;*/
/*}*/


div.token-input-dropdown ul li em {
    font-weight: normal;
    font-style: normal;
}

/*div.token-input-dropdown ul li.token-input-selected-dropdown-item {*/
/*    background-color: #d0efa0;*/
/*}*/

