html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

* {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background: #eee;
  align-items: center;
  min-height: 100%;
  position: relative;
}

form,
.main {
  max-width: 480px;
  margin: 20px auto 0;
  padding: 0 15px 250px;
}

.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

label:not(.radio-label) {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: block;
}

.group label:not(.radio-label):not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label:not(.radio-label) > span {
  width: 30%;
  text-align: right;
  float: left;
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 60%;
  height: 40px;
  float: right;
}

.field::-webkit-input-placeholder { color: #CFD7E0; }
.field::-moz-placeholder { color: #CFD7E0; }
.field:-ms-input-placeholder { color: #CFD7E0; }

button,
button.btn.primary.dwolla-iav-button,
a.btn,
.main a.btn {
  float: left;
  display: block;
  background: #f99d1c;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

button:focus {
  background: #555ABF;
}

button:active {
  background: #43458B;
}

.outcome {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: block;
  padding: 3px 0;
}

.error,
.jp-card-invalid {
  color: #E4584C !important;
}

.success {
  color: #f99d1c;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

.text-left {
  text-align: left;
}

.radio-label {
  padding-right: 10px;
}

.radio-label:last-child {
  padding-right: 0;
}

@media (max-width: 480px) {
  label:not(.radio-label) {
    margin-left: 0;
  }

  label:not(.radio-label) > span {
    width: 28%;
  }

  .field {
    width: 68%;
    padding: 0;
  }

  .hide-mobile {
    display: none;
  }
}

input:focus {
  outline: 0;
}

.contact-block {
  visibility: hidden;
}

.contact-block li {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-size: 15px;
  line-height: 2.0667;
}

.contact-block li a {
  color: #fff;
  transition: color 0.15s linear;
  text-decoration: none;
}

#header {
  padding-bottom: 30px;
}

#footer {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  margin-top: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

#footer .logo-holder {
  margin: 0 0 26px;
}

#footer .logo-holder a {
  display: block;
}

#footer .logo-holder a img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  #footer .logo-holder {
    margin: 0 0 36px;
  }
}

.main {
  color: #323232;
  text-align: center;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.500;
  max-width: 500px;
}

.main h1 {
  font-weight: normal;
  color: #53b2af;
  font-size: 40px;
  line-height: 1.1;
}

.main a {
  color: #f99d1c;
  text-decoration: none;
  cursor: pointer;
}

.group.card {
  overflow: hidden;
}

.group.card label {
  height: auto;
}

.group.card .card-js {
  float: right;
  width: 65%;
}

.group.card .card-js .card-number-wrapper,
.group.card .card-js .name-wrapper,
.group.card .card-js .expiry-container,
.group.card .card-js .cvc-container {
  overflow: hidden;
  height: 40px;
}

.group.card .card-js .field {
  width: auto;
  display: inline;
  float: left;
  margin-left: 20px;
}

.group.card .card-js .expiry {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  float: left;
  display: inline;
  height: 40px;
  margin-left: 20px;
  width: 60%;
}

.group.card .card-js .expiry::-webkit-input-placeholder { color: #CFD7E0; }
.group.card .card-js .expiry::-moz-placeholder { color: #CFD7E0; }
.group.card .card-js .expiry:-ms-input-placeholder { color: #CFD7E0; }

.group.card .card-js .icon {
  position: absolute;
  margin-right: 15px;
  margin-top: 3px;
}

.group.card-preview {
  padding: 50px;
}

form button[type=submit][disabled] {
  opacity: .8;
  background-color: #ccc;
  cursor: not-allowed;
}

table.transaction-info th,
table.transaction-info td {
  padding: 10px;
  text-align: left;
}
