@import url( '../../css/main.min.css' );

body {
  opacity: 1;
  background: #fff;
  padding:10px;
}

body.wp-autoresize {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

