sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 51em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 66em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 66em;
}
.stl_06 {
	height: 5.1em;
}
.ie .stl_06 {
	height: 51em;
}
@font-face {
	font-family:"LDUKBI+Gotham-Bold";
	src:url("8c3c2a53-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 3.5em;
	font-family: "LDUKBI+Gotham-Bold";
	color: #3F6C69;
}
.stl_08 {
	letter-spacing: 0em;
}

.ie .stl_08 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"DSRWPB+Cambria";
	src:url("fe02fb5a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_09 {
	font-size: 1.666667em;
	font-family: "DSRWPB+Cambria";
	color: #3F6C69;
}
.stl_10 {
	line-height: 1.172363em;
}
.stl_11 {
	letter-spacing: -0.0091em;
}

.ie .stl_11 {
	letter-spacing: -0.2431px;
}
.stl_12 {
	letter-spacing: -0.0021em;
}

.ie .stl_12 {
	letter-spacing: -0.0556px;
}
@font-face {
	font-family:"ICQCSB+AmericanScribe";
	src:url("5962c799-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2.468717em;
	font-family: "ICQCSB+AmericanScribe";
	color: #221E1F;
}
.stl_14 {
	line-height: 1.513em;
}
.stl_15 {
	letter-spacing: 0.0015em;
}

.ie .stl_15 {
	letter-spacing: 0.0593px;
}
@font-face {
	font-family:"LSEAMF+Gotham-Book";
	src:url("11e712bf-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.916667em;
	font-family: "LSEAMF+Gotham-Book";
	color: #221E1F;
}
.stl_17 {
	letter-spacing: -0.0012em;
}

.ie .stl_17 {
	letter-spacing: -0.0169px;
}
.stl_18 {
	letter-spacing: -0.0067em;
}

.ie .stl_18 {
	letter-spacing: -0.0978px;
}
@font-face {
	font-family:"LSVCJB+Gotham-Book";
	src:url("1f6a8835-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.916667em;
	font-family: "LSVCJB+Gotham-Book";
	color: #221E1F;
}
.stl_20 {
	letter-spacing: -0.0074em;
}

.ie .stl_20 {
	letter-spacing: -0.1083px;
}
